.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-image-1 {
  height: 604px;
  margin-top: 108px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 700;
  margin: -579px 0 60px 599px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}