.u-section-1 {
  background-image: url("images/salon.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 509px 0 37px 743px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin: 81px 24px 24px auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }
}